:root{
    --primary-color: #3a54b3;
    --secondary-color: white;
}
body{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    background-color: aliceblue;
    text-align: center;
    background-image: url(./Images//pirate.jpg);
    background-repeat: no-repeat;
}

#txt-input{
    width: 90%;
    height: 10vh;
    display: block;
    margin-bottom: 1rem;
}

#output{
    border: 2px solid var(--primary-color);
    height: 10vh;
    width: 90%;
    margin-top: 1rem;
}
button{
    text-align: center;
    color: white;
    font-size: larger;
    background-color: var(--primary-color);
}